.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

.menu__container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 74px;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista:not(:nth-child(1)) {
    display: none;
}

.menu__lista li {
    align-self: center;
}

.menu__lista li a {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    gap: 15px;
}

.rodape__container {
    display: flex;
    flex-flow: column wrap;
}

@media (min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }

    .menu__container {
        top: 80px;
        left: 0;
        width: 74px;
        height: calc(100% - 80px);
    }

    .menu__lista {
        flex-direction: column;
        justify-content: start;
        gap: 20px;

    }

    .rodape__container {
        justify-content: space-between;
    }
}